.heading {
    h1 {
        color: white;
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    width: 100%;
    display: flex;
    background-image: url("../../assets/img/donation-bg.jpg");
    min-height: 390px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .bg-img {
        background-color: black;
        opacity: 0.47;
        width: inherit;
        height: inherit;
    }
}

.scanner-btn {
    border-radius: 10px;
    padding: 8px;
    background-color: #717d4b;
    color: white;
    border: none;
    &:hover {
        border: 2px solid #717d4b;
    }
}