<div class="d-flex justify-content-between notification align-items-center">
    <div class="mail d-flex">
        <img class="mx-2 icon my-auto" src="../../assets/svg/envelope-open-fill.svg">
        <p class="my-auto">SNFT0220gmail.com</p>
    </div>
    <div class="time">
        <p class="my-auto">Mon - Sat: 09.30 AM - 06:30 PM</p>
    </div>
    <div class="contact d-flex">
        <img class="icon my-auto me-2" src="../../assets/svg/telephone-fill.svg">
        <p class="my-auto">
            Call Us: +91-9999423356
        </p> 

        <img class="mx-2 icon my-auto" src="../../assets/svg/social/facebook.svg">
        <img class="me-2 icon my-auto" src="../../assets/svg/social/instagram.svg">
        <img class="me-2 icon my-auto" src="../../assets/svg/social/linkedin.svg">
        <a class="mb-1 me-2" href="https://wa.me/+919999423356" target="_blank"><img class="icon" src="../../assets/svg/social/whatsapp.svg"></a>
    </div>
</div>