<div class="d-flex justify-content-between notification align-items-center">
    <div class="mail d-flex">
        <img class="mx-2 icon my-auto" src="../../assets/svg/envelope-open-fill.svg">
        <a href="mailto:SNFT0220@gmail.com" style="text-decoration: none; color: white;"><p class="my-auto">SNFT0220&#64;gmail.com</p></a>
    </div>
    <div class="time">
        <p class="my-auto">Mon - Sat: 09.30 AM - 06:30 PM</p>
    </div>
    <div class="contact d-flex">
        <img class="icon my-auto me-2" src="../../assets/svg/telephone-fill.svg">
        <a href="tel:+91-9999423356" style="text-decoration: none; color: white;">
            <p class="my-auto">
                Call Us: +91-9999423356
            </p> 
        </a>

        <img class="mx-2 icon my-auto" src="../../assets/svg/social/facebook.svg">
        <a class="mb-1" href="https://www.instagram.com/shrinanakfoundation" target="_blank"><img class="me-2 icon my-auto" src="../../assets/svg/social/instagram.svg"></a>
        <img class="me-2 icon my-auto" src="../../assets/svg/social/linkedin.svg">
        <a class="mb-1 me-2" href="https://wa.me/+919999423356" target="_blank"><img class="icon" src="../../assets/svg/social/whatsapp.svg"></a>
    </div>
</div>