.notification {
    background-color: #646c64;
    color: white;
    flex-direction: column;
    
    @media (min-width: 768px) {
        flex-direction: row;
        max-height: 26px;
    }

    .icon {
        filter: brightness(0) saturate(100%) invert(93%) sepia(10%) saturate(622%) hue-rotate(196deg) brightness(106%) contrast(94%);
        height: 16px;
    }
}