.event-heading {
  color: #062424;
  text-align: center;
}

table {
            border-collapse: collapse;
            width: 60%;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }

.images {
  img {
    display: block;
    border-radius: 10px;
    border: 2px solid black;
    width: 370px;
    height: 400px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.heading {
  h1 {
    color: white;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  width: 100%;
  display: flex;
  background-image: url("../../assets/img/msme.png");
  min-height: 390px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .bg-img {
    background-color: black;
    opacity: 0.47;
    width: inherit;
    height: inherit;
  }
}