.bg-body-tertiary {
    background-color: #062424 !important;
    color: white;

    .toggle-btn {
        border-radius: 8px;
        background-color: #717d4b;
        color: #717d4b;
    }
    .nav-link {
        color: white;
    }
    .btn {
        background-color: #717d4b;
        color: white;
        &:hover {
            border: 2px solid #717d4b;
        }
    }
}