<footer id="contactUs">
    <div class="d-flex flex-column flex-md-row">
        <div class="d-flex flex-column self">
            <img src="../assets/img/logo.png" class="logo">
            <p>Shri Nanak Foundation is a Non- Profit Organization (NPO) as defined in Section 8 Company under Companies
                Act, 2013.
            </p>
            <div class="social-connect">
                <a><img src="../../assets/svg/social/facebook.svg"></a>
                <a href="https://www.instagram.com/shrinanakfoundation/"><img src="../../assets/svg/social/instagram.svg"></a>
                <a><img src="../../assets/svg/social/linkedin.svg"></a>
                <a href="https://wa.me/+919999423356"><img src="../../assets/svg/social/whatsapp.svg"></a>
            </div>
        </div>
        <div class="d-flex flex-column quick">
            <h3>Quick Links</h3>
            <a href="#carouselExampleCaptions">Home</a>
            <a href="#aboutUs">About Us</a>
            <a href="#impact">What we do</a>
            <a>Gallery</a>
            <a href="#contactUs">Contact Us</a>
        </div>
        <div class="d-flex flex-column contact-us">
            <h3>Contact Us</h3>
            <div class="d-flex contact-us-item">
                <img src="../assets/svg/geo-alt-fill.svg">
                <p>DPT 004, Ground Floor, DLF Prime Towers, Block- F, Okhla Phase-1, New Delhi- 110020 India</p>
            </div>
            <div class="d-flex contact-us-item">
                <img src="../assets/svg/telephone-fill.svg">
                <p>+91 9999423356</p>
            </div>
            <div class="d-flex contact-us-item">
                <img src="../assets/svg/envelope-open-fill.svg">
                <p>SNFT0220gmail.com</p>
            </div>
            <div class="d-flex contact-us-item">
                <img src="../assets/svg/clock-fill.svg">
                <p>Mon - Sat: 09.30 AM - 06:30 PM</p>
            </div>
        </div>
    </div>
</footer>