<div class="d-flex flex-column gallery align-items-center">
    <div class="heading">
    </div>
    <div class="about-us">
        <div class="container">
            <div class="snf">
                <h1 class="mt-3">Shri Nanak Foundation</h1>
                <p class="text-center">Shri Nanak Foundation is a beacon of hope, dedicated to transforming lives and communities
                    through compassionate service and sustainable initiatives. Rooted in the principles of universal well-being, the
                    foundation strives to address the multifaceted needs of society, focusing particularly on the empowerment of
                    marginalized populations. By championing accessible education, comprehensive healthcare, and robust social welfare
                    programs, Shri Nanak Foundation aims to cultivate a society where every individual has the opportunity to flourish.
                    Furthermore, the foundation's commitment to environmental stewardship and the preservation of cultural heritage
                    underscores its holistic approach to creating a more just, harmonious, and sustainable future for all.
                </p>
            </div>
            <div class="container mt-5">
                <div class="row vision">
                    <div class="col-sm-6">
                        <h3>Vision</h3>
                        <p><b>लोककल्याण</b><br>
                            To create a just and equitable society where all individuals have the opportunity to thrive, fostering a world of
                            harmony, well-being, and sustainable development.
                        </p>
                        <h3>Mission</h3>
                        <p><b>आरोग्य दानम् - योगक्षेमं वहाम्यहम्</b><br>
                            To empower and uplift underserved communities through comprehensive initiatives in education, healthcare, social
                            welfare, and environmental sustainability, fostering a just and harmonious society.</p>
                        <h3>Motto</h3>
                        <p><b>सर्वजन हिताय: सर्वजन सुखाय:</b><br>
                            "Sarbat da Bhala" (Well-being for all) - reflecting the core principle of universal welfare and service to humanity.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img class="image" loading="lazy" style="width: 90%;" src="../../assets/img/collage.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4" style="background-color: #f5f5f7;">
            <div class="container">
                <h4 class="pt-3" class="text-center">Trustee, CA Liril Bansal</h4>
                <div class="d-flex flex-column flex-md-row">
                    <img class="m-4 image" loading="lazy" src="../../assets/img/clip-1.jpg">
                    <p class="m-4">
                        CA Liril Bansal's journey is a testament to the power of perseverance and the spirit of giving back. Rising from humble
                        beginnings, he dedicated himself to rigorous study, overcoming numerous obstacles to achieve his dream of becoming a
                        Chartered Accountant. Now, with a heart full of compassion and a deep understanding of the challenges faced by the
                        underserved, Liril is channeling his success into the Shri Nanak Foundation. This charitable trust embodies his
                        unwavering commitment to creating opportunities for others, reflecting his belief that everyone deserves a chance to
                        build a better future, regardless of their starting point. His personal story fuels the foundation's mission, driving
                        its efforts to empower communities and uplift lives through education, healthcare, and compassionate service.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>