.heading {
    width: 100%;
    display: flex;
    background-image: url("../../assets/img/about-us-bg.jpg");
    min-height: 390px;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us {
    .snf {
        text-align: center;
    }
}

.vision {
    @media (max-width: 576px) {
        display: flex;
        flex-direction: column-reverse;
         div {
            margin: 10px;
         }
    }
}