<div class="d-flex flex-column gallery align-items-center">
    <div class="heading">
    </div>
    <div class="about-us">
        <div class="container">
            <div class="snf">
                <h1 class="mt-3">Shri Nanak Foundation</h1>
                <p>Shri Nanak Foundation is a Non - Profit Organization (NPO) as defined in Section 8 Company under
                    Companies Act, 2013.
                    With its foundation being laid in 2020, SATYA Shakti Foundation is a NPO under the flagship of “SATYA
                    MicroCapital
                    Ltd." with central theme of philanthropy and human welfare. With it’s headquarter based in New Delhi,
                    SATYA Shakti
                    Foundation aims towards elevating the life state of marginalized people by enabling their social
                    wellbeing via
                    sustainable and holistic approach.
                </p>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-6">
                        <h3>Vision</h3>
                        <p>To work towards the empowerment & sustainable development of a harmonious society by providing
                            Sanitation, Health, Education assistance, & other facilities to all those in need.</p>
                        <h3>Mission</h3>
                        <p>Create employment opportunities, promote social well - being, raise awareness on Public Health &
                            Education among 1 million households by the year 2025.</p>
                        <h3>Motto</h3>
                        <p>Well being and health for all.
                            सर्वजन हिताय: सर्वजन सुखाय:</p>
                    </div>
                    <div class="col-6">
                        <img class="image" loading="lazy" style="width: 90%;" src="../../assets/img/collage.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4" style="background-color: #f5f5f7;">
            <div class="container">
                <h4 class="pt-3" class="text-center">Trustee, CA Liril Bansal</h4>
                <div class="d-flex flex-column flex-md-row">
                    <img class="m-4 image" loading="lazy" src="../../assets/img/clip-1.jpg">
                    <p class="m-4">
                        Shri Nanak Foundation is integrally focused on human welfare and is championing its objective by undertaking
                        multifarious projects specifically by facilitating entrepreneurial opportunities, promoting social well-being, as
                        well as raising awareness on matters of public health and education. The mission of this non profitable company
                        incorporates enhancing life state of 1 million households by the year 2025 by means of its sundry philanthropic
                        projects. We feel beyond delighted to share that we are diligently moving ahead towards accomplishment of our
                        mission. The sort of response, recognition and co-operation SATYA Shakti Foundation is receiving from people is
                        worth all the bestowed hardwork and efforts. This in return has augmented our trust in our operational workflow and
                        has undoubtedly boosted our confidence for our modus operandi.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>