<div class="d-flex flex-column gallery align-items-center">
    <div class="heading">
        <h1>Events</h1>
        <div class="bg-img">
        </div>
    </div>
    <div class="px-5 mt-5">
        <div class="events">
            <div class="event-title">
                <p>Vikshit aur Atmanirbhar Bharat, that's our goal. <br>
                <b>Free Tally Course</b> to move Atmanirbhar Bharat se Vikshit Bharat.</p>
            </div>
            <div class="event-detail d-flex flex-sm-row flex-column">
                <img class="image" loading="lazy" src='../../assets/img/events/tally.png'>
                <div class="register-btn">
                    <a href="https://forms.gle/eV693JJ3jQd5beBfA" target="_blank">Register
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>