.heading {
    h1 {
        color: white;
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    width: 100%;
    display: flex;
    background-image: url("../../assets/img/event.jpeg");
    min-height: 390px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .bg-img {
        background-color: black;
        opacity: 0.47;
        width: inherit;
        height: inherit;
    }
}

.events {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    padding: 16px 26px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;

    .event-title {
        font-weight: 500;
        font-size: larger;

        b{ 
            text-decoration: underline;
        }
    }

    .event-detail {
        // display: flex;
        // flex-direction: row;
        justify-content: space-evenly;

        .image {
            width: 40%;
            @media (max-width: 576px) {
                width: 100%;
            }   
        }
    
        .register-btn {
            display: flex;
            align-items: center;
            margin-top: 16px;
            justify-content: center;

            a {
                padding: 6px 12px;
                border-radius: 8px;
                text-decoration: none;
                background-color: #717d4b;
                color: white;
                &:hover {
                    border: 2px solid #717d4b;
                }
            }
        }
    }


}