.heading {
    h1 {
        color: white;
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    width: 100%;
    display: flex;
    background-image: url("../../assets/img/event.jpeg");
    min-height: 390px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .bg-img {
        background-color: black;
        opacity: 0.47;
        width: inherit;
        height: inherit;
    }
}

.w-web {
    width: -webkit-fill-available;

    .accordion {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        .accordion-button {
            background-color: #d8d9d0;
        }

    }
}