<div class="d-flex flex-column align-items-center">
  <div class="heading">
    <h1>Events</h1>
    <div class="bg-img">
    </div>
  </div>
  <div class="px-3 mt-5 px-sm-5 w-web">
    <h3 class="mb-2">Upcoming events</h3>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <strong>Free Tally Training Program by Shri Nanak Foundation</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="d-inline"><strong>Shri Nanak Foundation</strong> is proud to launch a <strong>Free Tally Training Program,</strong> aligned with our
              <strong>Hon’ble Prime Minister’s vision of Viksit Bharat,</strong> ensuring that no one remains unemployed. In today’s
              fast-evolving financial
              landscape, accounting skills are crucial for businesses, startups, and professionals. Through this
              initiative, we aim
              to equip individuals with essential Tally skills, <strong>making them job-ready and financially independent. </strong></p><a
              href="/events/0">more...</a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-5 mb-2">Pervious events</h3>
    <div class="accordion mb-5" id="accordionExample2">
      @for (item of items; track item.id) {
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + item.id" aria-expanded="false"
            [attr.aria-controls]="'collapse' + item.id" [innerHTML]="item.title">
          </button>
        </h2>
        <div [id]="'collapse'+ item.id" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p class="d-inline" [innerHTML]="item.description"> </p><a href="/events/{{item.id}}">more...</a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>