.heading-1 {
    text-align: center;
    color: beige;
}

.work-done {
    background-color: #B5C0C6;
    margin: 15px;
    align-items: center;
    border-radius: 125px;
    padding: 10px;
    width: 250px;
    height: 250px;

    :first-child {
        font-weight: 800;
    }

}

.parallax {
    background-image: url("../../assets/img/bg-2.webp");
    min-height: 390px;
    padding-top: 26px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}