<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/img/image-1.jpg" class="d-block w-100 image" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Our Motto</h5>
                <p>Building a better tomorrow, today.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../assets/img/image-2.jpg" class="d-block w-100 image" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Our vision</h5>
                <p>Unlocking potential, shaping futures.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../assets/img/image-3.png" class="d-block w-100 image" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Our mission</h5>
                <p>Empowering Health, Transforming Lives.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container px-5 pt-4 d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
        <h1>Shri Nanak Foundation</h1>
    </div>
    <p style="text-align: center;">SATYA Shakti Foundation is an NPO under the flagship of SATYA MicroCapital Ltd. with
        the central theme of
        philanthropy and human welfare. SATYA Shakti Foundation is working closely with marginalized communities in the
        areas of most pressing issues, i.e, sanitation, health, education, and empowerment, in a holistic way to ensure
        bringing about the desired change in society.
    </p>

    <img class="image" src="../assets/img/bg-1.jpg"
        style="border: 1px solid grey; border-radius: 22px; box-shadow: 2px 2px 5px grey;">
    <div class="d-flex justify-content-center mt-4 mb-2">
        <h1>Best NPO In Delhi NCR India - SATYA Shakti Foundation</h1>
    </div>
    <p style="text-align: center;">
        SATYA Shakti Foundation, the best NPO in Delhi, is commonly believed by the general public to be a group of
        individuals or groups involved in eradicating poverty and providing aid to those in need. NPOs in Delhi have
        become significant players during the past 20 years at the local and national levels to grow society and
        eradicate
        poverty. By providing basic services, NPOs have evolved to look for different ways to address development
        issues.
        Some of them have also started to advocate for legislative changes. NPOs have significantly influenced
        individuals, society, the nation, and the world by providing services, advocating for causes, and collaborating
        with several other groups. An NPO, however, is not a cure-all. An NPO has both beneficial and negative effects,
        just like a piece of corn.<br>
        According to the Companies Act of 2013, Section 8 Company defines SATYA Shakti Foundation as a non-profit
        organization (NPO). SATYA Shakti Foundation was established in 2020 and is an NPO operating under the banner of
        “SATYA MicroCapital Ltd.” Its primary goals are philanthropy and the welfare of people. The New Delhi-based
        SATYA
        Shakti Foundation seeks to improve the quality of life for marginalized people by facilitating their social
        well-being through a sustainable and all-encompassing approach.
    </p>
</div>