<div class="d-flex flex-column gallery align-items-center">
    <div class="heading">
        <h1>Media Coverage</h1>
        <div class="bg-img">
        </div>
    </div>
    <div class="px-5 mt-5">
        <h1 class="event-heading">Media coverage of Yoga Day - 2024</h1>
        <div class="images justify-content-center d-flex flex-wrap">
            @for (img of [1,2,3,4,5]; track $index) {
            <div class="d-flex flex-column">
                <img style="border: 2px solid black;" src="../../assets/img/clip-1.jpg">
                <p class="mt-0" style="margin: 10px;">21 June, 24 - Times Of India, Pg.-5</p>
            </div>
            }
        </div>
    </div>
    <div class="px-5 mt-5" style="background-color: #F6F6F6;">
        <h2 class="event-heading">Media coverage of Ram Lalla Rath Yatra - 2024</h2>
        <div class="images justify-content-center d-flex flex-wrap">
            @for (img of [1,2,3,4,5]; track $index) {
            <div class="d-flex flex-column">
                <img style="border: 2px solid black;" src="../../assets/img/clip-1.jpg">
                <p class="mt-0" style="margin: 10px;">21 June, 24 - Times Of India, Pg.-5</p>
            </div>
            }
        </div>
    </div>
</div>