.event-heading {
  color: #062424;
  text-align: center;
}

.images {
  img {
    display: block;
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
    height: 400px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.heading {
  h1 {
    color: white;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  width: 100%;
  display: flex;
  background-image: url("../../assets/img/media-bg.jpg");
  min-height: 390px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .bg-img {
    background-color: black;
    opacity: 0.47;
    width: inherit;
    height: inherit;
  }
}