<div class="d-flex flex-column gallery align-items-center">
    <div class="heading">
        <h1>Media Coverage</h1>
        <div class="bg-img">
        </div>
    </div>
    <div class="px-5 pt-5 container">
        <h1 class="event-heading">Media coverage of Ram Lalla Rath Yatra - 2024</h1>
        <div class="images justify-content-center d-flex flex-wrap">
            <!-- @for (img of [1,2,3,4,5]; track $index) { -->
            <div class="d-flex flex-column m-4">
                <img class="image" loading="lazy" src="../../assets/img/media/clip-1.jpeg">
                <p class="mt-2">21 June, 24 - Times Of India, Pg.-5</p>
            </div>
            <div class="d-flex flex-column m-4">
                <img class="image" loading="lazy" src="../../assets/img/media/clip-2.jpeg">
                <p class="mt-2">21 June, 24 - Times Of India, Pg.-5</p>
            </div>
            <!-- } -->
        </div>
    </div>
    <!-- <div class="px-5 w-100 pt-5" style="background-color: #F6F6F6;">
        <div class="container">
            <h2 class="event-heading">Media coverage of Ram Lalla Rath Yatra - 2024</h2>
            <div class="images justify-content-center d-flex flex-wrap">
                @for (img of [1,2,3,4,5]; track $index) {
                <div class="d-flex flex-column m-4">
                    <img class="image" loading="lazy" src="../../assets/img/clip-1.jpg">
                    <p class="mt-2">21 June, 24 - Times Of India, Pg.-5</p>
                </div>
                }
            </div>
        </div>
    </div> -->
</div>